*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  padding: 133px 30px 0;
  gap:30px
}

.result {
  padding-top: 78px;
  height: 534px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  position: absolute;
  inset:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content__details {
  display:flex;
  flex-direction: column;
  gap:28px;
  height: 534px;
  width: 399px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.content__list {
  position: relative;
  overflow-x: clip;
  overflow-y: scroll ;
  width: 399px;
  height: 534px;
}

.content__list-item {
padding-bottom: 30px;
}

.content__list-item:last-child {
  padding-bottom: 0px;
}

.content__video-card {
  display: flex;
  position: relative;
  width: 394px;
  height: 120px;
}

.content__video-card-description-container {
  width: 200px;
  height: 30px;
}

.content__video-card-thumbnail {
  position: absolute;
  top:0;
  right: 0;
  width: 194px;
  height: 103px;
  object-fit: cover;
  padding-bottom: 15px;
}