*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  inline-size: 1px;
  block-size: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
} 

.content {
  display: flex;
  width: 1140px;
  padding: 133px 0;
  margin: 0 auto;
  gap:30px
}

.result {
  padding-top: 78px;
  height: 534px;
}

/* контейнер просмотра видео и поле поиска */

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  position: absolute;
  inset:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 54px;
}

.search-form__fieldset {
  color: rgb(255, 255, 255);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.search-form__fieldset-title {
  color: rgb(255, 255, 255);
  font-family: Fira Sans Condensed;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding-bottom: 6.5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__label-text {
  padding-left: 5px;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: start;
  width: 224px;
  color: #fff;
  background: none;
  outline: none;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Чекбоксы */

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-bottom: 3px;
}

.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid rgb(255, 255, 255);
  inline-size: 19px;
  block-size: 19px;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline 1px #FFF;
  text-underline-offset: 5px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: rgb(255, 255, 255);
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 0 0 1px;
}

/* Кнопки проекта */

.button {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}

.button:active {
  background-color: rgb(84, 80, 80);
}

.button:hover {
  text-decoration: underline 1px rgb(255, 255, 255);;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  display: flex;
  min-width: 194px;
  min-height: 34px;
  justify-content: center;
  align-items: center;
  
}

.more-button {
  display: flex;
  min-width: 399px;
  min-height: 34px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5px;
  margin-top: 30px;
  
}

/* Секция карточек с видео */

.content__details {
  display:flex;
  flex-direction: column;
  gap:28px;
  height: 534px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84, 80, 80);
}

.content__list {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  /* scrollbar-width: none; убирает скролл */
  height: 534px;
} 

.content__list-item:hover {
  text-decoration: underline 2px rgb(255, 255, 255);;
}

.content__list-item:not(:first-child) {
  margin-block-start: 30px;
}

.content__list-item:active {
  background-color:rgb(84, 80, 80);
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2px;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 200px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 199px;

}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 1px;
}

.content__card-link_current {
  background-color:rgb(84, 80, 80);
}

.content__video-card-title {
  display: block;
  white-space: nowrap;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  padding-top: 6px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
}




